<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939349696686-4400opbstqp2m200h7oqnkuq3mt3l908.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939349696686-4400opbstqp2m200h7oqnkuq3mt3l908</string>
	<key>API_KEY</key>
	<string>AIzaSyAUKxCLyHpnEVSKBtqYOtXp5P0L54GGQ-4</string>
	<key>GCM_SENDER_ID</key>
	<string>939349696686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.epicbio.cites</string>
	<key>PROJECT_ID</key>
	<string>cites-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>cites-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939349696686:ios:11d456a49b98ac4c928d3f</string>
</dict>
</plist>